<a href="https://colab.research.google.com/github/mborkhat/MBA-TECH-DATA-SCIENCE/blob/main/Lec_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda Function

Syntax

lambda arguments : expression

Addition

In [ ]:
#Normal python function
def a_name(x):
    return x+x
    
#Lambda function
lambda x: x+x

Multiplication Using Lambda

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

Filter

In [ ]:
list_1 = [1,2,3,4,5,6,7,8,9]

list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

Mapping

In [ ]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

Lambda In DataFrame

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

In [ ]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [ ]:
df['age'] = df['Birthyear'].apply(lambda x: 2022-x)
df

   Name    Status  Birthyear  age
0  Luke    Father       1976   46
1  Gina    Mother       1984   38
2   Sam       Son       2013    9
3  Emma  Daughter       2016    6